
    @if (Request.IsAuthenticated)
    {      
        <div id="sidenav" class="side-nav" style="z-index: 994; display: none;">
            <div class="userView" style="height:200px;">
                <img class="background" src="~/Content/Images/177175.jpg" style="width:200%;">
                @*@if (ViewBag.Image == "" || ViewBag.Image == null)
                {
                    <div class="circle" style="overflow: hidden; display: inline-block;">
                        <img class="circle" src="~/Content/Images/user.png">
                        </div>
                }
                else
                {
                    <div class="circle" style="overflow: hidden; display: inline-block;">
                        <img class="circle" src="/Content/Images/@ViewBag.Image">
                    </div>
                        }*@
                        @*@if (ViewBag.CompanyImage == "" || ViewBag.CompanyImage == null)
                        {
                            <div class="circle" style="overflow: hidden; display: inline-block;float: right;">
                                <img class="circle" src="~/Content/Images/user.png">
                                </div>
                                }
                                else
                                {
                                <div class="circle" style="overflow: hidden; display: inline-block;     float: right;">
                                    <img class="" style="height: 45px; margin: 10px 0px;" src="/Content/Images/@ViewBag.CompanyImage">
                                </div>
                                //<img id="userImage" src="/Content/@Model.UserImage" class="najb-avatar">
                                }*@
                                <span class="white-text name">@ViewBag.FirstName @ViewBag.LastName</span>
                                <span class="white-text email">@ViewBag.Email</span>

                                @if (ViewBag.Company.name == "" || ViewBag.Company.name == null)
                                {
                                }
                                else
                                {
                                    <span class="white-text name">@ViewBag.Company.name</span>
                                }
                                <span class="white-text email">Credits: @ViewBag.Company.credits</span>
                            </div>
            <ul class="hide-on-med-and-down">
                <li class="links"><a href="@Url.Action("About", "Employer")" class="waves-effect"><i class="fa fa-info-circle fa-lg"></i>About</a></li>
                <li class="links"><a href="@Url.Action("AddCredits", "Employer")" class="waves-effect"><i class="fa fa-credit-card fa-lg"></i>Add Credits</a></li>
                <li class="links"><a href="@Url.Action("AddJob", "Employer")" class="waves-effect"><i class="fa fa-plus fa-lg"></i>Add Job</a></li>
                <li class="links"><a href="@Url.Action("Employer", "Employer")" class="waves-effect"><i class="fa fa-bar-chart fa-lg"></i>My Job Posts <span class="badge red">@ViewBag.Postings</span></a></li>
                <li class="links"><a href="@Url.Action("Archive", "Employer")" class="waves-effect"><i class="fa fa-archive fa-lg"></i>Archive</a></li>
                <li class="links"><a href="@Url.Action("EditEmployer", "Employer")" class="waves-effect"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Profile</a></li>
                <li class="links"><a href="@Url.Action("Company", "Employer")" class="waves-effect"><i class="fa fa-bank fa-lg"></i>My Company</a></li>
                <li class="links"><a href="@Url.Action("EditCompany", "Employer")" class="waves-effect"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Company</a></li>              
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="links" style="position: absolute; bottom: 72px; right: 0px;"><a class="" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i>Log off</a></li>

                }
                <li class="links" style="position: absolute; bottom: 72px;"><a href="@Url.Action("About", "Employer")" class=""><i class="fa fa-question-circle fa-lg"></i>Help</a></li>
            </ul>

            <ul class="hide-on-large-only">
                <li class="links" style="position: relative; bottom: 0px;"><a href="@Url.Action("About", "Employer")" class=""><i class="fa fa-question-circle fa-lg"></i>Help</a></li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="links" style="position: relative; bottom: 0px; right: 0px;"><a class="" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i>Log off</a></li>

                }            
                <li class="links"><a href="@Url.Action("About", "Employer")" class="waves-effect"><i class="fa fa-info-circle fa-lg"></i>About</a></li>
                <li class="links"><a href="@Url.Action("AddCredits", "Employer")" class="waves-effect"><i class="fa fa-credit-card fa-lg"></i>Add Credits</a></li>
                <li class="links"><a href="@Url.Action("AddJob", "Employer")" class="waves-effect"><i class="fa fa-plus fa-lg"></i>Add Job</a></li>
                <li class="links"><a href="@Url.Action("Employer", "Employer")" class="waves-effect"><i class="fa fa-bar-chart fa-lg"></i>My Job Posts <span class="badge red">@ViewBag.Postings</span></a></li>
                <li class="links"><a href="@Url.Action("Archive", "Employer")" class="waves-effect"><i class="fa fa-archive fa-lg"></i>Archive</a></li>
                <li class="links"><a href="@Url.Action("EditEmployer", "Employer")" class="waves-effect"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Profile</a></li>
                <li class="links"><a href="@Url.Action("Company", "Employer")" class="waves-effect"><i class="fa fa-bank fa-lg"></i>My Company</a></li>
                <li class="links"><a href="@Url.Action("EditCompany", "Employer")" class="waves-effect"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Company</a></li>           
            </ul>
        </div>
        <div id="backdrop"></div>
    }


    
   


