@model IEnumerable<NAJB_BS_Final.Job>

@{
    ViewBag.Title = "Employer";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
    //var CompanyName = Model.FirstOrDefault().Company.name;
}

@Html.Partial("_Messages")

<div class="hide-on-med-and-down" style="height: auto;">
    <div style="margin-bottom:15px !important;">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="card" style="width: 100%; height:50px; margin-bottom: 1px; ">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="searchli" class="col-xs-3 active"><a href="/Employer/Employer" @*aria-controls="home" role="tab" data-toggle="tab"*@><i class="fa fa-list-alt fa-lg"></i><br />Posts</a></li>
                        <li role="presentation" id="profileli" class="col-xs-3"><a href="/Employer/AddJob" @*aria-controls="profile" role="tab" data-toggle="tab"*@><i class="fa fa-plus fa-lg"></i><br />Add</a></li>
                        <li role="presentation" id="messagesli" class="col-xs-3"><a href="/Employer/Matches" @*aria-controls="messages" role="tab" data-toggle="tab"*@><i class="fa fa-retweet fa-lg"></i><br />Matches</a></li>
                        <li role="presentation" id="settingsli" class="col-xs-3"><a href="/Employer/Archive" @*aria-controls="settings" role="tab" data-toggle="tab"*@><i class="fa fa-archive fa-lg"></i><br />Archive</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_EmployerUserBox")
    <div class="col-md-9">
        <div class="jumbotron card" style="width: 100%;">
            <h1><i class="fa fa-list-alt page-icon" style="padding-left: 14px;"></i> My Job Posts <span style="float: right;">@Model.Count() Job Posts</span></h1>
            <hr style="border-top-color: #ee6e73;" />
            <div>
                <table class="table table_id">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.Raw("Name")
                            </th>
                            <th>
                                @Html.Raw("Reference")
                            </th>
                            <th>
                                @Html.Raw("Date")
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </th>*@
                            <th>
                                @Html.Raw("Industry")
                            </th>
                            <th>
                                @Html.Raw("Job Type")
                            </th>
                            <th>
                                @Html.Raw("Experience")
                            </th>
                            <th>
                                @Html.Raw("Location")
                            </th>
                            <th>
                                @Html.Raw("Salary")
                            </th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                            <tr>
                                @*<td style="text-align: center;"><i class="fa fa-chevron-down fa-lg"></i></td>*@
                                <td style="text-align: center;">
                                    <a class="" style="color: grey;" href="/Employer/Job?id=@Html.DisplayFor(modelItem => item.ID)">
                                        <i class="fa fa-eye fa-lg text-info" title="View" style=""></i><br />View
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reference)
                                </td>
                                <td>
                                    @item.jobDate.ToShortDateString() - @item.jobEndDate.ToShortDateString()
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.industry)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.jobType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.experience)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.location)
                                </td>
                                <td>
                                    @Html.Raw("$")@Html.DisplayFor(modelItem => item.salaryMin) - @Html.Raw("$")@Html.DisplayFor(modelItem => item.salaryMax)
                                </td>
                                <td>

                                    <a class="" style="color: grey; text-decoration: none;" href="DuplicateJob?id=@item.ID"><i class="fa fa-files-o fa-2x" style="color: #4285F4;"></i></a>
                                    <a class="" id="job-delete-@item.ID" href="DeleteJob?id=@item.ID"><i class="fa fa-trash fa-2x" style="color:red;"></i></a>
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="hide-on-large-only card" style="margin-top: 0px; position:fixed; top: 70px; width: 100%; border-top: 2px solid lightgray; z-index: 98;">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="searchli" class="col-xs-3 active"><a href="/Employer/Employer" @*aria-controls="home" role="tab" data-toggle="tab"*@><i class="fa fa-list-alt fa-lg"></i><br />Posts</a></li>
        <li role="presentation" id="profileli" class="col-xs-3"><a href="/Employer/AddJob" @*aria-controls="profile" role="tab" data-toggle="tab"*@><i class="fa fa-plus fa-lg"></i><br />Add</a></li>
        <li role="presentation" id="messagesli" class="col-xs-3"><a href="/Employer/Matches" @*aria-controls="messages" role="tab" data-toggle="tab"*@><i class="fa fa-retweet fa-lg"></i><br />Matches</a></li>
        <li role="presentation" id="settingsli" class="col-xs-3"><a href="/Employer/Users" @*aria-controls="settings" role="tab" data-toggle="tab"*@><i class="fa fa-user fa-lg"></i><br />Users</a></li>
    </ul>
</div>

<div class="hide-on-large-only" style="position: absolute; top: 120px; background-color: lightgrey; width: 100%; height: auto;">
    <div class="tab-content" style="padding: 0px;">
        <div role="tabpanel" class="tab-pane active" id="home" style="background-color: white; padding: 20px; height: calc(100vh - 120px);">
            <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }' style="height:100%;">
                @{ int count = 1; }
                @foreach (var item in Model)
                {
                    <div class="carousel-cell" style="width: 100%;" href="#one!">
                        <h4 style="font-size: 3vmax !important;"><i class="fa fa-list-alt" style="color:#ee6e73"></i> My Job Post <span class="pull-right">#@count</span></h4>
                        <hr style="border-top-color: #ee6e73; margin-bottom: 0px;" />
                        <table class="table" style="font-size: 2vmax;">
                            <tr>
                                <td style="width:33%;">
                                    <i class="fa fa-comment fa-md" style="color: #4285F4;"></i> @Html.Raw("Job Name")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-commenting fa-md" style="color: #4285F4;"></i> @Html.Raw("Reference #")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reference)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-building fa-md" style="color: #4285F4;"></i> @Html.Raw("Industry")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.industry)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-clock-o fa-md" style="color: #4285F4;"></i> @Html.Raw("Job Type")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.jobType)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-sort-amount-asc fa-md" style="color: #4285F4;"></i>@Html.Raw("Experience")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.experience)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-map-marker fa-md" style="color: #4285F4;"></i> @Html.Raw("Location")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.location)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-dollar fa-md" style="color: #4285F4;"></i> @Html.Raw("Salary")
                                </td>
                                <td>
                                    @if (item.salaryMin == null && item.salaryMax == null)
                                    {
                                        @Html.Raw(" - ")
                                    }
                                    else
                                    {
                                        @Html.Raw("$")@Html.DisplayFor(modelItem => item.salaryMin)@Html.Raw(" - ")@Html.Raw("$")@Html.DisplayFor(modelItem => item.salaryMax)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-calendar fa-md" style="color: #4285F4;"></i> @Html.Raw("Post Date")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.jobDate)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30%;">
                                    <i class="fa fa-calendar fa-md" style="color: #4285F4;"></i> @Html.Raw("End Date")
                                </td>
                                <td>
                                    @item.jobEndDate.ToString("MM/dd/yyyy")
                                </td>
                            </tr>
                        </table>
                        <hr style="border-top-color: #ee6e73;" />
                        <div class="row">
                            <div class="col-xs-4" style="text-align: center;">
                                @if (item.active == true)
                                {
                                    <a class="" style="color: grey; text-decoration: none;" id="job-active-@item.ID" href="DeactivateJobSearch?id=@item.ID"><i class="fa fa-lightbulb-o fa-2x" style="color:green;"></i><br />Active</a>
                                }

                                else
                                {
                                    <a class="" style="color: grey; text-decoration: none;" id="job-inactive-@item.ID" href="ActivateJobSearch?id=@item.ID"><i class="fa fa-lightbulb-o fa-2x" style="color:red;"></i><br />Inactive</a>
                                }
                            </div>
                            <div class="col-xs-4" style="text-align: center;">
                                <a class="" style="color: grey; text-decoration: none;" href="DuplicateJob?id=@item.ID"><i class="fa fa-files-o fa-2x" style="color: #4285F4;"></i><br />Duplicate</a>
                            </div>
                            <div class="col-xs-4" style="text-align: center;">
                                <a class="" style="color: grey; text-decoration: none;" id="job-delete-@item.ID" href="DeleteJobSearch?id=@item.ID"><i class="fa fa-trash fa-2x" style="color:red;"></i><br />Delete</a>
                            </div>
                        </div>
                    </div>
                    count++;
                }

            </div>
        </div>
        @*<div role="tabpanel" class="tab-pane" id="profile" style="background-color: white; padding: 20px; overflow: auto;">
            <div class="" >
                <h4 style="font-size: 3vmax !important;"><i class="fa fa-plus" style="color:#ee6e73"></i> Add A New Job Search</h4>
                <hr style="border-top-color: #ee6e73;" />

                @using (Html.BeginForm("AddJob", "Employer", null, FormMethod.Post, new { @id = "addJob" }))
                {
                @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <p>Enter your Job requirements here.</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-md-12" id="JobNameChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="JobName"><i class="fa fa-comment fa-md primary" style=""></i> Job Name <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-12">
                                   
                                    @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" id="ApplyToChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="ApplyTo"><i class="fa fa-comment fa-md primary" style=""></i> ApplyTo <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-12">
                                    
                                    @Html.EditorFor(model => model.ApplyTo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ApplyTo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-6" id="ReferenceChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="ReferenceNumber"><i class="fa fa-comment fa-md primary" style=""></i> Reference Number<i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                               @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-12">
                                    
                                    @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReferenceNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12" id="IndustryNameChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Industry"><i class="fa fa-building fa-md primary" style=""></i> Industry <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.Industry, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                <div class="col-md-12">
                                    
                                    @Html.EditorFor(model => model.Industry, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" id="LocationChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Location"><i class="fa fa-map-marker fa-md primary" style=""></i> Location <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                <div class="col-md-12">
                                   
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6" id="DateChip">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Date"><i class="fa fa-calendar fa-md primary" style=""></i> Start Date <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.SalaryMin, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.JobType, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalaryMax, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SalaryMax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SalaryMax, "", new { @class = "text-danger" })
                                    </div>
                                </div><div class="form-group col-md-6">
                                <div class="col-md-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                </div>
                            </div>
                            <div class="form-group">
                                    @Html.LabelFor(model => model.AdditionalLocations, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AdditionalLocations, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AdditionalLocations, "", new { @class = "text-danger" })
                                    </div>
                                </div><div class="form-group">
                                <div class="col-md-10">
                                </div>
                            </div>
                            @*<div class="form-group">
                                     @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                                    </div>
                                </div><div class="form-group">
                                <div class="col-md-10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" id="JobTypeCheckbox">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Location"><i class="fa fa-clock-o fa-md primary" style=""></i> Job Type <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                <div class="col-md-12">
                                    
                                    <div class="bootstrap-tagsinput" style="">
                                        <div class="checkbox checkbox-primary" style="padding-top: 12px;">
                                            <div class="col-md-3">
                                                <input id="JobTypech1" type="checkbox" value="Full Time">
                                                <label for="JobTypech1" style="font-weight: bold;">
                                                    Full Time
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="JobTypech2" type="checkbox" value="Part Time">
                                                <label for="JobTypech2" style="font-weight: bold;">
                                                    Part Time
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="JobTypech3" type="checkbox" value="Casual">
                                                <label for="JobTypech3" style="font-weight: bold;">
                                                    Casual
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="JobTypech4" type="checkbox" value="Contract">
                                                <label for="JobTypech4" style="font-weight: bold;">
                                                    Contract
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-6" id="ExperienceCheckbox">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Location"><i class="fa fa-sort-amount-asc fa-md primary" style=""></i> Job Experience <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                <div class="col-md-12">
                                    
                                    <div class="bootstrap-tagsinput" style="">
                                        <div class="checkbox checkbox-primary" style="padding-top: 12px;">
                                            <div class="col-md-3">
                                                <input id="Experiencech1" type="checkbox" value="Entry Level">
                                                <label for="Experiencech1" style="font-weight: bold;">
                                                    Entry Level
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="Experiencech2" type="checkbox" value="0 - 2 Years">
                                                <label for="Experiencech2" style="font-weight: bold;">
                                                    0 - 2 Years
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="Experiencech3" type="checkbox" value="2 - 5 Years">
                                                <label for="Experiencech3" style="font-weight: bold;">
                                                    2 - 5 Years
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <input id="Experiencech4" type="checkbox" value="5+ Years">
                                                <label for="Experiencech4" style="font-weight: bold;">
                                                    5+ Years
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SalaryMin, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <i class="fa fa-dollar fa-2x"></i>
                                        @Html.EditorFor(model => model.SalaryMin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SalaryMin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="Location"><i class="fa fa-sort-amount-asc fa-md primary" style=""></i> Salary <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                <div class="col-md-3">
                                    <div class="checkbox checkbox-primary" style="padding: 12px 0px; margin-left:40px;">
                                        <input id="SalaryCheckbox" type="checkbox" value="SalaryCheckbox">
                                        <label for="SalaryCheckbox" style="font-weight: bold;">
                                            Use Salary?
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9" id="SalaryDiv" style="display: none;">
                                    @Html.EditorFor(model => model.SalaryMin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SalaryMin, "", new { @class = "text-danger" })
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label col-xs-12 col-md-12" style="text-align: left;" for="JobDescription"><i class="fa fa-pencil-square-o fa-md primary" style=""></i> Job Description <i class="fa fa-info-circle" data-toggle="tooltip" title="Some tooltip text!" style="float: right; color: #ee6e73;"></i></label>
                                @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12" style="clear: both;">
                                   
                                    @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr style="border-top-color: #ee6e73;" />
                        <div class="form-group">
                            <div class="col-md-12" style="padding:0px;">
                                <input type="submit" value="Save Job" class="btn btn-default pull-left" onclick="getValue()" />
                                <!-- Button trigger modal -->
                                <a target="_blank" href="" value="Preview" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="getPreview()" style="float:right;">Preview</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document" style="max-width: 800px; width: 90%;">
                                        <div class="modal-content jumbotron card">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                @*<h4 class="modal-title" id="myModalLabel">Modal title</h4><h4 class="modal-title" id="myModalLabel"></h4>
                                                <h3 class="modal-title" id="JobNamePreview"><i class="fa fa-list-alt" style="color:#ee6e73"></i></h3>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p id="LocationPreview" style="margin: 0px;"></p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p id="JobTypePreview" style="margin: 0px;"></p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p id="ExperiencePreview" style="margin: 0px;"></p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p id="JobTypePreview" style="margin: 0px;"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr style="border-top-color: #ee6e73; clear: both;" />
                                                    <div class="col-md-2" style="margin: 0 auto;">
                                                        <img id="LogoPreview" class="circle" style="width: 75px; height: 75px; margin: auto; display: block;" src="~/Content/Images/@Html.DisplayFor(model => model.CompanyName)" />
                                                    </div>
                                                    <div class="col-md-5">
                                                        <h4 id="CompanyNamePreview" style="margin-top: 5px;"><a href="/Searcher/Company?id=@Html.DisplayFor(model => model.CompanyID)">@Html.DisplayFor(model => model.CompanyName)</a></h4>
                                                        <p id="AddressPreview" style="margin: 0px;">*add address*</p>
                                                        <p id="WebsitePreview" style="margin: 0px;"><a href="http://">*add website*</a></p>

                                                    </div>
                                                    <div class="col-md-5">
                                                        <p style="margin: 0px;">Contact: *add contact*</p>
                                                        <p style="margin: 0px;">Apply To: @Html.DisplayFor(model => model.ApplyTo)</p>
                                                        <p style="margin: 0px;">Phone: *add phone*</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr style="border-top-color: #ee6e73;" />
                                                    <p>@Html.DisplayFor(model => model.JobDescription)</p>
                                                </div>
                                                <div class="row">
                                                </div>
                                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                            </div>
                                            @*<div class="modal-body">





                                                    <hr style="border-top-color: #ee6e73;" />
                                                    <div class="row">
                                                        <div class="col-xs-3" style="text-align: center;">

                                                                <a class="text-success" style="text-decoration: none;" href="mailto:@Html.DisplayFor(model => model.ApplyTo)">
                                                                    <i class="fa fa-mail-forward fa-lg"></i><br />
                                                                    Apply
                                                                </a>

                                                        </div>
                                                        <div class="col-xs-3" style="text-align: center;">
                                                            <a class="text-warning" style="text-decoration: none;" href="">
                                                                <i class="fa fa-star fa-lg"></i><br />
                                                                Favourite
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-3" style="text-align: center;">
                                                            <a class="text-danger" style="text-decoration: none;" href="">
                                                                <i class="fa fa-volume-off fa-lg"></i><br />
                                                                Ignore
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-3" style="text-align: center;">
                                                            <a id="ShareButton" style="text-decoration: none;" class="text-info" href="#">
                                                                <i class="fa fa-share-alt fa-lg"></i><br />
                                                                Share
                                                            </a>
                                                        </div>
                                                        <div id="ShareDiv" style="display:none;">
                                                            <h6>Add an email to share this Job.</h6>
                                                            @using (Html.BeginForm())
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <input type="text" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div><div class="modal-body">





                                                <hr style="border-top-color: #ee6e73;" />
                                                <div class="row">
                                                    <div class="col-xs-3" style="text-align: center;">

                                                        <a class="text-success" style="text-decoration: none;" href="mailto:@Html.DisplayFor(model => model.ApplyTo)">
                                                            <i class="fa fa-mail-forward fa-lg"></i><br />
                                                        </a>

                                                    </div>
                                                    <div class="col-xs-3" style="text-align: center;">
                                                        <a class="text-warning" style="text-decoration: none;" href="">
                                                            <i class="fa fa-star fa-lg"></i><br />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-3" style="text-align: center;">
                                                        <a class="text-danger" style="text-decoration: none;" href="">
                                                            <i class="fa fa-volume-off fa-lg"></i><br />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-3" style="text-align: center;">
                                                        <a id="ShareButton" style="text-decoration: none;" class="text-info" href="#">
                                                            <i class="fa fa-share-alt fa-lg"></i><br />
                                                        </a>
                                                    </div>
                                                    <div id="ShareDiv" style="display:none;">
                                                        <h6></h6>
                                                        <input type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">

                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div><div class="modal-footer">

                                                <button type="button" class="btn btn-primary"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.CompanyID)
                        @Html.HiddenFor(model => model.Credits)
                        @Html.HiddenFor(model => model.FirstName)
                        @Html.HiddenFor(model => model.LastName)
                        @Html.HiddenFor(model => model.Email)
                        @Html.HiddenFor(model => model.JobName)
                        @Html.HiddenFor(model => model.Industry)
                        @Html.HiddenFor(model => model.Location)
                        @Html.HiddenFor(model => model.Date)
                        @Html.HiddenFor(model => model.SalaryMin)
                        @Html.HiddenFor(model => model.SalaryMax)
                        @Html.HiddenFor(model => model.JobDescription)
                        @Html.HiddenFor(model => model.JobType)
                        @Html.HiddenFor(model => model.Experience)
                        @Html.HiddenFor(model => model.ReferenceNumber)
                    </div>

                }
            </div>
        </div>*@
        @*<div role="tabpanel" class="tab-pane" id="messages" style="padding: 0px;">
            @foreach (var item in Model.Users)
            {
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:auto;">
                            <div class="row">
                                <div class="col-xs-3" style="padding: 0px;">
                                    @if (item.userImage == "" || item.userImage == null)
                                    {
                                        <img class="circle" style="width: 65px; height: 65px;" src="~/Content/MVC_f9ad17b1-5d3b-4258-a449-abd5dc2ab8c1.jpg" />
                                    }
                                    else
                                    {
                                        //<img class="activator" src="@Html.DisplayFor(modelItem => item.logo)">
                                        <img class="circle" style="width: 65px; height: 65px;" src="@item.userImage" />
                                    }
                                </div>
                                <div class="col-xs-8" style="padding: 0px;">
                                    <span class="title">@Html.DisplayFor(modelItem => item.firstname) @Html.DisplayFor(modelItem => item.lastname)</span>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.email)

                                    </p>
                                </div>
                                <div class="col-xs-1" style="padding: 0px;">
                                    <a data-toggle="collapse" href="#collapse-@Html.DisplayFor(modelItem => item.ID)"><i class="fa fa-chevron-down"></i></a>
                                </div>
                            </div>

                        </div>
                        <div id="collapse-@Html.DisplayFor(modelItem => item.ID)" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.DisplayFor(modelItem => item.JobSearches.Count) @Html.Raw("Job Searches")
                                @Html.DisplayFor(modelItem => item.JobMatches.Count) @Html.Raw("Job Matches")
                            </div>
                            <div class="panel-footer">Panel Footer</div>
                        </div>
                    </div>
                </div>
                <div class="collapsible-header" style="padding: 1rem;">
                    <div class="collection-item avatar">
                        <div class="row">
                            <div class="col s3" style="text-align: center;">
                                @if (item.userImage == "" || item.userImage == null)
                                {
                                    <img class="circle" style="width: 65px; height: 65px;" src="~/Content/MVC_f9ad17b1-5d3b-4258-a449-abd5dc2ab8c1.jpg" />
                                }
                                else
                                {
                                    //<img class="activator" src="@Html.DisplayFor(modelItem => item.logo)">
                                    <img class="circle" style="width: 65px; height: 65px;" src="@item.userImage" />
                                }
                            </div>
                            <div class="col s8">
                                <span class="title">@Html.DisplayFor(modelItem => item.firstname) @Html.DisplayFor(modelItem => item.lastname)</span>
                                <p>
                                    @Html.DisplayFor(modelItem => item.email)

                                </p>
                            </div>
                            <div class="col s1">
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </div>
                        </div>
                        <hr style="margin: 0px;" />
                        <div class="row">

                            @Html.DisplayFor(modelItem => item.JobSearches.Count) @Html.Raw("Jobs")
                            @Html.DisplayFor(modelItem => item.JobMatches.Count) @Html.Raw("Job Matches")
                            <i class="material-icons">info_outline</i>
                            <i class="material-icons right">more_vert</i>
                        </div>
                    </div>
                </div>
            }
        </div>*@
        @*<div role="tabpanel" class="tab-pane" id="settings" style="background-color: white; padding: 20px; height: calc(100vh - 120px);">
           @foreach (var item in Model.Transactions)
           {
            <div class="carousel-cell" style="background-color: white;" href="#one!">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.TransactionID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.TransactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.TransactionCredits)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credits)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Dollars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dollars)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <i class="material-icons">skip_previous</i>

                        </td>
                        <td><i class="material-icons right-align">skip_next</i></td>
                    </tr>
                </table>
            </div>
           }
        </div>*@
    </div>
</div>

<!-- CKE Editor -->
<script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<script>
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('JobDescription');

</script>


