@model NAJB_BS_Final.ViewModels.ViewUser

    <div id="JobSearches" class="main-carousel" style="height:100%;">
        @{ int count = 1; }
        @foreach (var item in Model.JobSearches)
        {
            <div class="carousel-cell" style="width: 100%;" href="#one!">
                <h4 style="font-size: 20px;"><i class="fa fa-list-alt" style="color:#ee6e73"></i> My Job Search <span class="pull-right">#@count</span></h4>
                <hr style="border-top-color: #ee6e73; margin-bottom: 0px;" />
                <table class="table" style="font-size: 2vmax;">
                    <tr>
                        <td>
                            <i class="fa fa-comment fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.JobName)
                        </td>
                        <td>
                            @if (item.JobName == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.JobName)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-commenting fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.CompanyName)
                        </td>
                        <td>
                            @if (item.CompanyName == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-building fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.Industry)
                        </td>
                        <td>
                            @if (item.Industry == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Industry)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-clock-o fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.JobType)
                        </td>
                        <td>
                            @if (item.JobType == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.JobType)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-sort-amount-asc fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.Experience)
                        </td>
                        <td>
                            @if (item.Experience == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Experience)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-map-marker fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.Location)
                        </td>
                        <td>
                            @if (item.Location == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Location)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-arrows-alt fa-md primary" style=""></i> @Html.DisplayNameFor(model => model.Radius)
                        </td>
                        <td>
                            @if (item.Radius == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Radius)@Html.Raw(" kms")
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-dollar fa-md primary" style=""></i> @Html.Raw("Salary")
                        </td>
                        <td>
                            @if (item.SalaryMin == null && item.SalaryMax == null)
                            {
                                @Html.Raw(" - ")
                            }
                            else
                            {
                                @Html.Raw("$")@Html.DisplayFor(modelItem => item.SalaryMin)@Html.Raw(" - ")@Html.Raw("$")@Html.DisplayFor(modelItem => item.SalaryMax)


                            }
                                </td>
                            </tr>
                        </table>
                        <hr style="border-top-color: #ee6e73;" />
                        <div style="font-size: 2vmax;">
                            <div id="ActiveButton" class="col-xs-4" style="text-align: center;">
                                @if (item.Active == true)
                                {
                                    <div id="@item.ID" class="text-success" style="text-decoration: none; cursor: pointer;">
                                        <i class="fa fa-lightbulb-o fa-2x" style=""></i>
                                        <br /><span style="color: grey">Active</span>
                                    </div>
                                }

                                else
                                {
                                    <div id="@item.ID" class="text-danger" style="text-decoration: none;">
                                        <i class="fa fa-lightbulb-o fa-2x" style=""></i>
                                        <br /><span style="color: grey">Inactive</span>
                                    </div>
                                }
                            </div>
                            <div class="col-xs-4" style="text-align: center;">
                                <a class="" style="color: grey; text-decoration: none;" href="EditSearch?id=@item.ID"><i class="fa fa-pencil fa-2x" style="color: #4285F4;"></i><br />Edit</a>
                            </div>
                            <div class="col-xs-4" style="text-align: center;">
                                <a class="" style="color: grey; text-decoration: none;" id="job-delete-@item.ID" href="DeleteJobSearch?id=@item.ID"><i class="fa fa-trash fa-2x" style="color:red;"></i><br />Delete</a>
                            </div>
                        </div>
                    </div>
            count++;
        }

    </div>

@section Scripts {

    
    }

