@model NAJB_BS_Final.ViewModels.ViewUser

@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout_Searcher.cshtml";
}

@*<div class="hide-on-large-only card" style="margin-top: 0px; position:fixed; top: 70px; width: 100%; border-top: 2px solid lightgray; z-index: 98;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="searchli" class="col-xs-3"><a href="/Searcher/Searcher" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list-alt fa-lg"></i><br />Searches</a></li>
            <li role="presentation" id="profileli" class="col-xs-3"><a href="/Searcher/AddSearch" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-plus fa-lg"></i><br />Add</a></li>
            <li role="presentation" id="messagesli" class="col-xs-3 active"><a href="/Searcher/Matches" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-retweet fa-lg"></i><br />Matches</a></li>
            <li role="presentation" id="settingsli" class="col-xs-3"><a href="/Searcher/Companies" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-building fa-lg"></i><br />Companies</a></li>
        </ul>
    </div>

    <div class="hide-on-large-only" style="position: absolute; top: 120px; background-color: lightgrey; width: 100%; height: auto;">
        <div id="Matches" class="" style="padding-top: 10px; background-color: lightgrey;">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-md-6" style="float: left; margin-bottom: 10px; padding: 0px;">
                    <div class="panel-group card">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:auto;">
                                <div class="row">
                                    <div class="col-xs-3" style="padding: 0px;">
                                        @if (item.Company.logo == "" || item.Company.logo == null)
                                        {
                                            <img class="circle" style="width: 65px; height: 65px;" src="~/Content/MVC_f9ad17b1-5d3b-4258-a449-abd5dc2ab8c1.jpg" />
                                        }
                                        else
                                        {
                                            //<img class="activator" src="@Html.DisplayFor(modelItem => item.logo)">
                                            <img class="circle" style="width: 65px; height: 65px;" src="~/Content/Images/@Html.DisplayFor(modelItem => item.Company.logo)" />
                                        }
                                    </div>
                                    <div class="col-xs-8" style="padding: 0px;">
                                        <h3 style="float:left; font-size: 2.5vmax !important; margin: 0px;"> @Html.DisplayFor(modelItem => item.name)</h3>
                                        <h5 style="float:left; margin: 0px;"> @Html.DisplayFor(modelItem => item.Company.name)</h5>

                                    </div>
                                    <div class="col-xs-1" style="padding: 0px;">
                                        <a data-toggle="collapse" href="#collapse-mobile-@Html.DisplayFor(modelItem => item.ID)"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div id="collapse-mobile-@Html.DisplayFor(modelItem => item.ID)" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p style="font-size:11px !important;">
                                        <span style="">Posted: @item.jobDate.Value.ToString("MM/dd/yyyy")</span><br />
                                        <span style="">Ends: @item.endDate.Value.ToString("MM/dd/yyyy")</span>
                                    </p>
                                    <p><strong>Job Description:</strong></p>
                                    <p>
                                        @if (item.description.Length > 100)
                                        {
                                            string sub = item.description.Substring(0, 100);
                                            @Html.Raw(sub + "<span>...</span>")
                                        }
                                        else
                                        {
                                            @Html.Raw(item.description)
                                        }
                                    </p>
                                    <div class="row">
                                        <hr style="border-top-color: #ee6e73;" />
                                        <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                            <a class="" style="color: grey;" href="/Searcher/Job?id=@Html.DisplayFor(modelItem => item.jobID)">
                                                <i class="fa fa-eye fa-lg text-info" title="View" style=""></i><br />View
                                            </a>
                                        </div>
                                        <div id="MobileFavouriteButton" class="col-xs-3 text-center" style="padding:0px 5px;">
                                            @if (item.favourite == true)
                                            {
                                                <div id="@item.jobID" class="text-warning" style="" val="@Html.DisplayFor(modelItem => item.jobID)">
                                                    <i class="fa fa-star fa-lg" title="Favourite" style=""></i><br /><span style="color: grey; text-shadow:none;">Favourite</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="@item.jobID" class="grey-text" style="" href="@Html.DisplayFor(modelItem => item.jobID)">
                                                    <i class="fa fa-star fa-lg" title="Favourite" style=""></i><br /><span style="color: grey; text-shadow:none;">Favourite</span>
    </div>
                                            }
                                        </div>

                                        <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                            @if (item.applied == true)
                                            {
                                                <a id="MobileApplyButton" href="#" style="color: grey;"><i class="fa fa-mail-forward fa-lg text-danger" style=""></i><br />Applied</a>
                                            }
                                            else
                                            {
                                                <a id="MobileApplyButton" href="#" style="color: grey;"><i class="fa fa-mail-forward fa-lg" style=""></i><br />Apply</a>

                                            }
                                        </div>
                                        <div id="MobileIgnoreButton" class="col-xs-3 text-center" style="padding:0px 5px;">
                                            @if (item.ignore == true)
                                            {
                                                <div id="@item.jobID" class="grey-text" style="" value="@Html.DisplayFor(modelItem => item.jobID)">
                                                    <i class="fa fa-close fa-lg" style=""></i><br /><span style="color: grey;">Ignore</span>
    </div>
                                            }
                                            else
                                            {
                                                <div id="@item.jobID" class="grey-text" style="" value="@Html.DisplayFor(modelItem => item.jobID)">
                                                    <i class="fa fa-close fa-lg" style=""></i><br /><span style="color: grey;">Ignore</span>
    </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-xs-12 col-md-6" style="float: left; margin-bottom: 20px;">
                        <div class="jumbotron card" style="padding-top: 15px;">
                            <div class="row">
                                <p style="font-size:11px !important;">
                                    <span style="float: left;">Posted: @item.jobDate.Value.ToString("MM/dd/yyyy")</span>
                                    <span style="float: right;">Ends: @item.endDate.Value.ToString("MM/dd/yyyy")</span>
                                </p>
                                <h3 style="float:left;"><i class="fa fa-list-alt" style="color:#ee6e73"></i> @Html.DisplayFor(modelItem => item.name)</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p style="margin: 0px;"><i class="fa fa-map-marker fa-md" style="color: #26a69a;"></i> @Html.DisplayFor(modelItem => item.location)</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="margin: 0px;"><i class="fa fa-clock-o fa-md" style="color: #26a69a;"></i> @Html.DisplayFor(modelItem => item.jobType)</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="margin: 0px;"><i class="fa fa-sort-amount-asc fa-md" style="color: #26a69a;"></i> @Html.DisplayFor(modelItem => item.experience)</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="margin: 0px;"><i class="fa fa-dollar fa-md" style="color: #26a69a;"></i> $@Html.DisplayFor(modelItem => item.salaryMin) - $@Html.DisplayFor(modelItem => item.salaryMax)</p>
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top-color: #ee6e73; clear: both;" />

                                <div class="col-xs-3 col-md-2">
                                    <img class="circle" style="width:50px; height: 50px; margin-top: 10px;" src="~/Content/Images/@Html.DisplayFor(modelItem => item.Company.logo)" />
                                </div>
                                <div class="col-xs-9 col-md-10">
                                    <h4><a href="/Searcher/Company?id=@Html.DisplayFor(modelItem => item.companyID)">@Html.DisplayFor(modelItem => item.companyName)</a></h4>
                                    <p>@Html.DisplayFor(modelItem => item.location)</p>
                                </div>
                            </div>
                            <div class="row">
                                <hr style="border-top-color: #ee6e73; clear: both;" />
                                <p><strong>Job Description:</strong></p>
                                <p>
                                    @if (item.description.Length > 100)
                                    {
                                        string sub = item.description.Substring(0, 100);
                                        @Html.Raw(sub + "<span>...</span>")
                                    }
                                    else
                                    {
                                        @Html.Raw(item.description)
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <hr style="border-top-color: #ee6e73;" />
                                @*<div class="col-xs-4">
                                        <a class="btn" href="/Searcher/Job?id=@Html.DisplayFor(modelItem => item.jobID)">View Job</a>
                                    </div>
                                <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                    <a class="" style="color: grey;" href="/Searcher/Job?id=@Html.DisplayFor(modelItem => item.jobID)">
                                        <i class="fa fa-eye fa-lg text-info" title="View" style=""></i><br />View
                                    </a>
                                </div>
                                <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                    @if (item.favourite == true)
                                    {
                                        <a class="" style="color: grey;" href="/Searcher/UnFavourite?id=@Html.DisplayFor(modelItem => item.jobID)">
                                            <i class="fa fa-star fa-lg text-warning" title="Favourite" style=""></i><br />UnFavourite
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="" style="color: grey;"href="/Searcher/Favourite?id=@Html.DisplayFor(modelItem => item.jobID)">
                                            <i class="fa fa-star fa-lg" title="Favourite" style=""></i><br />Favourite
                                        </a>
                                    }
                                </div>

                                <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                    @if (item.applied == true)
                                    {
                                        <a href="#" style="color: grey;"><i class="fa fa-mail-forward fa-lg text-danger" style=""></i><br />Applied</a>
                                    }
                                    else
                                    {
                                        <a href="#" style="color: grey;"><i class="fa fa-mail-forward fa-lg" style=""></i><br />Apply</a>
                                    }
                                </div>
                                <div class="col-xs-3 text-center" style="padding:0px 5px;">
                                    @if (item.ignore == true)
                                    {
                                        <a class="" style="color: grey;" href="/Searcher/Job?id=@Html.DisplayFor(modelItem => item.jobID)">
                                            <i class="fa fa-close fa-lg text-danger" style=""></i><br />Ignore
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="" style="color: grey;" href="/Searcher/Job?id=@Html.DisplayFor(modelItem => item.jobID)">
                                            <i class="fa fa-close fa-lg text-danger" style=""></i><br />Ignore
                                        </a>
                                    }
                                </div>

                                @*<div class="col-xs-3 text-center">
                                        <i class="fa fa-close fa-lg text-danger" style="float:right"></i>
                                    </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>*@
        
